"*":
  "Remote-FTP": {}
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-jshint"
      "linter-jscs"
      "relative-numbers"
      "tree-view"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "polymorph-ui"
      "atom-dark-fusion-syntax"
    ]
  "dark-flat-ui": {}
  editor:
    fontFamily: "\"Inconsolata-dz for Powerline\""
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "b06772e5-3cf4-e47d-4f5b-8e304650fbf5"
  "highlight-line": {}
  "isotope-ui": {}
  linter: {}
  "linter-eslint": {}
  "linter-jscs":
    configPath: ".jscsrc"
    fixOnSave: true
    onlyConfig: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  nuclide:
    "nuclide-home":
      showHome: false
  react:
    enabledForAllJavascriptFiles: true
  "split-diff": {}
  "trailing-semicolon":
    startNewline: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
